@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sansation' ;
  src: url('/src/assets/fonts/sansation_regular.ttf');
}

body {
  margin: 0;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6{
  font-family: sansation, sans-serif;
}
img{
  width: 100%;
  height: auto;
}
.video-responsive{
  width: 100%;
}
.video-responsive iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

@media(max-width:1023px){
  body{
    font-size: 18px;
  }
}