@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sansation' ;
  src: url('/src/assets/fonts/sansation_regular.ttf');
}

body {
  margin: 0;
  font-family: 'sansation', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img{
  width: 100%;
  height: auto;
}